*{
    font-family: myFirstFont;
}
header{
    position: fixed;
    width: 100%;
    background: #1048ad;
    height: 60px;
    z-index: 1;
}
header h1{
    left: 120px;
    font-size: 24px;
}
header ul{
    position: relative;
    right: 120px;
}
header ul>li{
    display: inline-block;
    margin-left: 20px;
}
header ul>li>a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
#bookingForm{
    background-color: #efefef;
    height: 100vh;
}
#bookingForm>div{
    position: relative;
    top: 70px;
    height: 88vh;
    background-color: white;
}
#bookingForm #scroll{
    position: relative;
    top: 80px;
    left: 20px;
    height: 300px;
    width: 590px;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
    scroll-behavior: smooth;
}
#bookingForm #btnRight{
    z-index: 1;
    position: relative;
    top: 245px;
    left: 290px;
    color: #052c65;
    border-radius: 100%;
}
#bookingForm #btnRight:hover{
    color: red;
}
#bookingForm #btnLeft{
    position: relative;
    top: -82px;
    right: 295px;
    color: #052c65;
    border-radius: 100%;
}
#bookingForm #btnLeft:hover{
    color: red;
}
.divChild{
    min-width: 290px;
    height: 280px;
    margin: 1px 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    overflow: hidden;
}
.divChild>img{
    width: 100%;
    height: 100%;
}
#bookingForm #scroll::-webkit-scrollbar{
    -webkit-appearance: none;
}
#bookingForm h1{
    position: relative;
    top: 80px;
    font-size: 32px;
    font-family: Arial;
    right: 220px;
}
#bookingForm h2{
    position: relative;
    top: 80px;
    font-size: 18px;
    font-family: myFirstFont;
    right: 215px;
}
#bookingForm h3{
    position: relative;
    top: 90px;
    font-size: 42px;
}
#bookingForm table{
    position: relative;
    top: 100px;
}
#bookingForm form{
    position: relative;
    top: -170px;
    background-color: #efefef;
    height: 62vh;
    border-radius: 10px;
}
#bookingForm h4{
    position: relative;
    top: 20px;
    left: 40px;
}
