
#customerForm{
    position: relative;
    top: 60px;
    background: url("../img/slide-alternate-1-1.jpg");
    background-size: cover;
    background-position: center;
    height: 92vh;
}
#customerForm h1{
    position: relative;
    top: 10px;
    color: white;
}
#customerForm form{
    position: relative;
    left: 15%;
    top: 40px;
    width: 60vw;
    height: 70vh;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#customerForm form img{
    position: absolute;
    right: 5%;
}
#customerForm form button{
    position: relative;
    bottom: 5px;
    width: 20%;
}
#customerForm form input{
    background: transparent;
    color: #bfd1ec;
}
#customerForm form label{
    color: white;
}