#indexForm{
    position: relative;
    top: 50px;
}
#indexForm table{
    position: relative;
    top: 80px;
}
#indexForm #div1{
    position: relative;
    top: 60px;
}
#indexForm h1{
    position: relative;
    top: 40px;
    color: #6c757d;
    opacity: .5;
    font-size: 32px;
}