*{
    font-family: myFirstFont;
}
header{
    background: #1048ad;
    height: 60px;
}
header h1{
    left: 120px;
    font-size: 24px;
}
header ul{
    position: relative;
    right: 120px;
}
header ul>li{
    display: inline-block;
    margin-left: 20px;
}
header ul>li>a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
#indexForm table{
    position: relative;
    top: 80px;
}
#indexForm #div1{
    position: relative;
    top: 60px;
}
#indexForm h1{
    position: relative;
    top: 40px;
    color: #6c757d;
    opacity: .5;
    font-size: 32px;
}