#indexForm{
    position: relative;
    top: 50px;
}
#indexForm table{
    position: relative;
    top: 80px;
}
#indexForm #div1{
    position: relative;
    top: 60px;
}
#indexForm h1{
    position: relative;
    top: 40px;
    color: #6c757d;
    opacity: .5;
    font-size: 32px;
}
#tblViewCusVehicle tr{
    transition: 1s;
}
#tblViewCusVehicle tr:hover{
    background-color: #D6EEEE;
    cursor: pointer;
    transform: scale(1.1);
}
#tblViewCusVehicle tr img{
    border-radius: 6px;
}
#tblViewCusVehicle{
    background-color: #E6E6E6;
}