*{
    font-family: myFirstFont;
}
header{
    background: #1048ad;
    height: 70px;
    position: fixed;
    width: 100vw;
}
header h1{
    left: 120px;
    font-size: 24px;
}
header ul{
    position: relative;
    right: 120px;
}
header ul>li{
    display: inline-block;
    margin-left: 20px;
}
header ul>li>a{
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
#vehicleForm{
    position: relative;
    top: 50px;
}
#vehicleForm img{
    position: relative;
    height: 150px;
}
#vehicleForm button{
    width: 35%;
}
#vehicleForm table{
    position: relative;
    top: 30px;
}