#viewDriverForm{
    position: relative;
    top: 70px;
}
#viewDriverForm form{
   width: 50vw;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#viewDriverForm table{
    position: relative;
    top: 30px;
}
#viewDriverForm button{
    width: 50%;
}
#viewDriverForm #driverId{
    position: absolute;
    right: 50%;
    top: 10%;
}